<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #6d998f;"></span>
		<span class="sg-label">#6d998f</span>
	</li>
		<li>
		<span class="sg-swatch" style="background: #76796d;"></span>
		<span class="sg-label">#76796d</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d8aaa8;"></span>
		<span class="sg-label">#d8aaa8</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #8aa3ac;"></span>
		<span class="sg-label">#8aa3ac</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
</ul>